PG_USER=admin
PG_PASSWORD=@Password123
PG_DB=smartkiosk_db

PORT=3001
DATABASE_URL="postgresql://admin:@Password123@localhost:5432/smartkiosk_db"

CF_ACCOUNT_ID="your_account_id"
CF_API_TOKEN="your_api_token"
CF_ACCOUNT_HASH="your_account_hash"

PEPPER="p3pp3r"
JWT_SECRET="s3cr3t"
